.category-container {
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    padding:20px;
    justify-content:center;
}

.box {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(34, 28, 28);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.cooking { background-color: #e66bff; }
.gardening { background-color: #4caf50; }
.yoga { background-color: #9c27b0; }
.music { background-color: #2196f3; }
.sketching { background-color: #a87a33; }
.gaming { background-color: #2c48e4; }
.run { background-color: #a87a33;}
.book{ background-color: #4caf50;}
body {
    background-color: palegreen;
}